* {
  background-color: #343a40;
  text-align: center;
}

.jumbotron, .jumbo {
  background-color: #99cfe0 !important;
}

.navbar {
  box-shadow: 4px 6px 5px #15171a;
}

.jumbotron {
  margin: 20px;
  box-shadow: 4px 7px 5px #608b9b;
}

.full-length {
  width: 100%;
}